
@{
    ViewBag.Title = "MenuVenta";
}

<h2>Menu Venta</h2>
<head>

</head>
<body>

    <div>
        
            <ul>
                <li>@Html.ActionLink("Lista de ventas", "ListarVenta", "Venta")</li>
                <li>@Html.ActionLink("Crear Venta", "Crear", "Venta")</li>

            </ul>
      
    </div>
</body>
