
@{
    ViewBag.Title = "MenuVenta";
}

<h2>Menu Venta</h2>
<head>

</head>
<body>

    <div>
        
            <ul>
                <li><input type="button" value="Lista De Venta" id="btnVentaLista" /></li>
                <li><</li>
            </ul>
      
    </div>
</body>
