
@{
    ViewBag.Title = "Venta";
}

<h2>Venta</h2>
<table style="width:25%">
    <tr>
        <th>Cantidad</th>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th><button onclick="BorrarRegistro()" value="borrarRegistro" /></th>
    </tr>
 
</table>
table {
    border-spacing: 5px;
}
<script src="~/scripts/Venta.js"></script>