<h1>Buscar Producto</h1>
<form action="/Producto/ProductoEncontrado">
    <label for="Nombre">Ingrese el Nombre del Producto a encontrar:</label>
    <input type="text" placeholder="Nombre" maxlength="1000" name="Nombre" id="Nombre"value="@Model.Nombre" />
    <input type="submit" />
    <label></label>

</form>

