<h1>Guardar Persona</h1>
<form action="/Persona/Guardar">
    <label for="Nombre">Ingrese el Nombre:</label>
    <input type="text" placeholder="Nombre" maxlength="1000" name="Nombre" id="Nombre" />
    <label for="Apellido">Ingrese el Apellido:</label>
    <input type="text" placeholder="Apellido" maxlength="1000" name="Apellido" id="Apellido" />
    <label for="Dni">Ingrese el Dni:</label>
    <input type="text" placeholder="Dni" maxlength="1000" name="Dni" id="Dni" />
    <input type="submit" />

</form>