
<h1>Buscar Producto</h1>
<form action="/Producto/BuscarPorNombre">
    <label for="Nombre">Ingrese el Nombre del Proveedor a encontrar:</label>
    <input type="text" placeholder="Nombre" maxlength="1000" name="Nombre" id="Nombre" />
    <input type="submit" />
    <label></label>

</form>

