<h1>Guardar Producto</h1>
<form action="/Proveedor/Guardar">
    <label for="Nombre">Ingrese el Nombre:</label>
    <input type="text" placeholder="Nombre" maxlength="1000" name="Nombre" id="Nombre" />
    <label for="Direccion">Ingrese la Direccion:</label>
    <input type="text" placeholder="Direccion" maxlength="1000" name="Direccion" id="Direccion" />
    <label for="Codigo">Ingrese el Codigo</label>
    <input type="text" placeholder="Nombre" maxlength="1000" name="Codigo" id="Codigo" />
    <input type="submit" />

</form>