@model PracticaMVC3.ViewModels.ProveedorViewModel
@{
    ViewBag.Title = "DetalleProveedor";
}

<h2>DetalleProveedor</h2>
<label>Nombre:</label>
<label>@Model.Nombre</label>
<br />
<label>Apellido:</label>
<label>@Model.Direccion</label>
<br />
<label>Dni:</label>
<label>@Model.Codigo</label>
@Html.ActionLink("Volver a Lista", "ObtenerLista", "Proveedor")
